<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <title>Safe Safe</title>
</head>
<body>
<div align="center">
<h1 th:inline="text">Hello <!--[[${#httpServletRequest.remoteUser}]]-->!</h1>

    <form action="upload" th:action="@{/addFile}" method="post" enctype="multipart/form-data">
        <input type="file" name="myFile"/>
        <div>
            <label> Email : <input type="text" name="email"/> </label>
            <input type="submit" value="Send" />
        </div>
    </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>