<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Safe Safe</title>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/hello}">here</a> to enter SafeSafe.</p>
<form action="upload" th:action="@{/customerFile}" method="post" enctype="multipart/form-data">
    <input type="file" name="myFile"/>
    <div align="center">
        <label> Email : <input type="text" name="email"/> </label>
        <input type="submit" value="Send"/>
    </div>
</form>
</body>
</html>